#headerText {
  text-align: center;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.jumbotron h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  color: #223F40;
  text-align: center;
}

.container {
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 75%;
}

#puzzleBody {
  padding-top: 40px;
  padding-bottom: 40px;
}

#puzzleText {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}

body {
  background-image: url("../images/gplaypattern.png");
}

button {
  color: white;
  background-color: #223F40;
}

button:hover {
  background-color: #59A6A8;
}
