<!DOCTYPE html>
<html>
  <head>
    <title>Word Puzzler</title>
    <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class="jumbotron container">
      <h1>Word Puzzler</h1>
      <p id="headerText">enter a word or phrase to create a word puzzle</p>
    </div>
    <div class="container">

      #parse( $template )

    </div>
  </body>
</html>
