<form  action="/puzzle" method="get">
  <div class="form-group">
    <label for="userWords">Enter your word or phrase</label>
    <br>
    <input class="form-control" type="text" name="userWords" id="userInput">
  </div>
  <button type="submit" class="btn" name="button">Puzzle it!</button>
</form>
